body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

button,input,textarea,fieldset {
	padding: 0;
	*overflow: visible
}

body {
	font: 12px/1.5 Microsoft Yahei,\5B8B\4F53,Tahoma,Helvetica,Arial,sans-serif;
	background-color: #fff;
}

html,body{
	width: 100%;
	height: 100%
}

input,textarea {
	font-family: Microsoft Yahei;
	outline: 0;
	resize: none
}

input[disabled],input[readonly]{
	cursor:not-allowed;
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul,li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

q:beforce,q:after {
	content: ''
}

abbr,acronym {
	border: 0
}

legend {
	margin-left: 0
}

*+html legend {
	margin-left: -7px;
	margin-top: -7px;
	padding-bottom: 10px
}

*html legend {
	margin-left: -7px;
	margin-top: -7px;
	padding-bottom: 10px
}

a {
	text-decoration: none;
	outline: 0
}

a:hover {
	text-decoration: none
}

.c3 {
	color:#333;
}

.c6 {
	color:#666;
}

.c9 {
	color:#999;
}

.bgf{
	background: #fff;
}

.f12 {
	font-size: 12px
}

.f13 {
	font-size: 13px
}

.f14 {
	font-size: 14px
}

.f15 {
	font-size: 15px
}

.f16 {
	font-size: 16px
}

.f18 {
	font-size: 18px
}

.f20 {
	font-size: 20px
}

.fHei {
	font-family: '黑体'
}

.fArial {
	font-family: 'Arial'
}

.fb {
	font-weight: bold
}

.fn {
	font-weight: normal;
	font-style: normal
}

.unl {
	text-decoration: underline
}

.del {
	text-decoration: line-through
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.bc {
	margin-left: auto;
	margin-right: auto
}

.fl {
	float: left;
	display: inline
}

.fr {
	float: right;
	display: inline
}

.cb {
	clear: both
}

.cl {
	clear: left
}

.cr {
	clear: right
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.vm {
	vertical-align: middle
}

.pr {
	position: relative
}

.pa {
	position: absolute
}

.hidden {
	visibility: hidden
}

.none {
	display: none
}

.wauto {
	width: auto !important;
}

.w100 {
	width: 107px !important;
}

.w110 {
	width: 110px !important;
}

.w120 {
	width: 121px !important;
}

.w1000 {
	width: 1000px
}

.w1020 {
	width: 1020px;
	margin: 0 auto;
}
.hauto {
	height: auto !important;
}
.h250{
	height:250px;
}

.w {
	width: 100%
}

.h {
	height: 100%
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt30 {
	margin-top: 30px
}

.mt40 {
	margin-top: 40px
}

.mt50 {
	margin-top: 50px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.mb30 {
	margin-bottom: 30px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr30 {
	margin-right: 30px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.ml30 {
	margin-left: 30px
}

.pt1 {
	padding-top: 1px
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt15 {
	padding-top: 15px
}

.pt20 {
	padding-top: 20px
}

.pb0{
	padding-bottom:0px !important;
}

.pb5 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.pb20 {
	padding-bottom: 20px
}

.pl5 {
	padding-left: 5px
}

.pl10 {
	padding-left: 10px
}

.pl15 {
	padding-left: 15px
}

.pl20 {
	padding-left: 20px
}

.pr5 {
	padding-right: 5px
}

.pr10 {
	padding-right: 10px
}

.pr15 {
	padding-right: 15px
}

.pr20 {
	padding-right: 20px
}

.pr35 {
	padding-right: 35px
}

.dib {
	display: inline-block
}

.db {
	display: block
}

.wordbreak {
	white-space: nowrap;
	word-break: keep-all;
	text-overflow: ellipsis;
	overflow: hidden
}

.oh {
	overflow: hidden
}
.pointer{
	cursor: pointer;
}
.visible-hide{visibility:hidden;}


